<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>BookStore - Login</title>
</head>

<body style="background-color:#ededed;">
	<div th:replace="fragments/header" style="background-color:#337ab7;height:50px;"></div>
	<div class="container-fluid">
		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 80px;background-color:#fff;padding:20px;border:solid 1px #ddd;">
			<form autocomplete="on" action="#" th:action="@{/login}" method="post" class="form-signin" role="form">
				<h3 class="form-signin-heading" th:text="Login"></h3>
				<br />
				<input type="text" th:name="email" id="email" name="email" th:placeholder="email" class="form-control" /> <br />
				<input type="password" th:name="password" th:placeholder="password" id="password" name="password" class="form-control" /> <br />

				<div align="center" th:if="${param.error}">
					<p style="font-size: 20px; color: #FF1C19;">email or password is invalid.</p>
				</div>

				<button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-right:10px;"></button>
				<a href="/recover-password">Forgot password?</a>
				<a href="/register">Register User</a>
			</form>
		</div>
	</div>
</body>
</html>